@include keyframes(shake){
  0%{
    left:0px;
  }
  100%{
    left:-20px;
  }
}

@include keyframes(boomerang) {
  0%{
    @include transform(rotate(45deg));
    left:-40px;
    top:100px;
  }
  100% {
    @include transform(rotate(0deg));
    top: 0px;
    left: 0px;
  }
}

@include keyframes(blink){
  0%{
    @include box-shadow(0px 0px 1px 0px $error-color);
  }
  100%{
    @include box-shadow(0px 0px 5px 0px $error-color);
  }
}

@include keyframes(tremble){
  0%{
    @include transform(rotate(1deg));
  }
  100%{
    @include transform(rotate(-1deg));
  }
}





.blink{
  @include animation(blink 0.5s linear infinite alternate);
}
.tremble{
  @include animation(tremble 0.2s linear infinite alternate);
}
.anim-error-shake{
  @include animation('boomerang 0.5s linear', 'shake 0.1s linear 0.45s 6 alternate');
}
 
.blink_tremble{
  @include animation('blink 0.5s linear infinite alternate', 'tremble 0.2s linear infinite alternate');
}