html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	background-color: #eee;
	& > div {
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 18px;
		color: #333;
	}
}